h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.new-content{
  text-align: center;
}

.form-group{
  text-align: center;
}

.form-text{
  display: block;
}

.category-input{
  width: 500px;
}

.idea-input{
  width: 500px;
  height: 500px;
}

.submit-btm {
  width: 150px;
  height: 50px;
}